<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <!--<add key="Connection" value="Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\bd\AppCred.mdf;Integrated Security=True;Connect Timeout=30;user id = admin; password = admin" />-->
    <add key="Connection" value="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=AppCred;Integrated Security=True;Connect Timeout=30;user id = admin; password = admin" />
    <add key="rutaScripts" value="C:\ScriptsDinamicos\" />
    <add key="conectionDestino" value="Utilidades.Utilidades.GetCadenaConexionProadmin()" />

    <add key="nombreProyectoEntity" value="SwitchService.Dto" /><!--el nombre del proyecto para las entidades-->
    <add key="nombreProyectoProcedureClass" value="IntegratorSolicitud" /><!--el nombre del proyecto que genera las clase procedure  donde conecta a bd-->
    <!--el nombre del proyecto que genera las clase procedure  donde conecta a bd-->
  </appSettings>
</configuration>